
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.activo {
    color: rgb(240, 236, 243);
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;  
}
body {
    background-color: black;
}
.Navegacion {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 50px;
    color: rgb(233, 234, 240);
}
.nav-links {
    display: flex;
    align-items: center;
}
.nav-links li {
    margin: 0 30px;
}
header  {
    width: 100vw;
    height: 100vh;
    background-image: url(https://img.freepik.com/vector-gratis/diseno-fondo-notas-musicales-brillantes-brillantes_1017-32856.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.header-content {
    margin-bottom: 150px;
    color: rgb(67, 67, 216);
    text-align: center;
}
.header-content h2 {
    font-size: 10vmin;
    
}
.line {
    width: 150;
    height: 4px;
    background-color: blueviolet;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 15 px;
    background: blueviolet;
    border-radius: 30px;
    color: black;
}
section {
    width: 80%;
    margin: 80px auto;
}
.titulo {
    text-align: center;
    font-size: 7vmin;
    color: rgb(98, 98, 175);
}
.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: bisque;
}
.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grupo .row {
    margin-top: 50px;
}
h3 {
    font-size: 7vmin;
    color: rgb(98, 98, 175);
    margin: 20px auto;
}
p {
    color: #000;
    padding: 0px 40px;
}
.grupo .cnt {
    margin-top: 30px;
}
.history {
    width: 100;
    height: 100vh;
    background-image: url(https://www.ticketcorner.ch/obj/media/CH-eventim/teaser/evo/artwork/2020/pentatonix-tickets-2021.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.history-content {
    width: 60%;
    padding: 50px;
    color: rgb(20, 14, 4);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.history-content h4 {
    font-size: 7vmin;
    color: rgb(98, 98, 175);
    
    
}
.history-content p {
    color: #080202;

}
.content-col {
    width: 40%;
}
.image-col {
    width: 60%;
}
.acapella .imagenes-galeria {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.imagenes-galeria img {
    max-width: 250px;
    margin: 10px;
}
.content-col h5 {
    font-size: 7vmin;
    color: rgb(98, 98, 175);
}
.video {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: bisque;
}
.row-video {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: bisque;
}
.formulario {
    width: 80%;
    margin: 80px auto;
}
.forma {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        background-color: bisque;   
}
.forma h6 {
    font-size: 7vmin;
    color: rgb(98, 98, 175);
}
.footer {
    width: 100%;
    min-height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: rgb(240, 196, 131)
}
.footer p {
    color: rgb(10, 10, 10);
    margin: 20px auto;
    padding: 20px auto;
    text-align: center;
}
@media only screen and (max-width:850px){
    .Navegacion{
        padding: 0;
    }
    .Pentatonix {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(92, 207, 236);
    }
    
    .nav-links li {
        margin: 30px auto; 

    }
}
